@font-face {
  font-family: "SEOLLEIMcool";
  src: url("./asset/fonts/SEOLLEIMcool.ttf"),
    url("./asset/fonts/SEOLLEIMcool.otf");
}

#root > main > section {
  padding: 0px 120px;

  @media screen and (max-width: 990px) {
    padding: 0px 80px;
  }
  @media screen and (max-width: 375px) {
    padding: 0px 20px;
  }
}
